body{
    background-color: rgb(15, 15, 15);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header {
    width: 100%;
    background-color: black;
    float: left;
    clear: both;
}
#log {
    background-color:rgb(172, 131, 28);
    height: 361px;
    float: left;
    width: 58%;
    text-align: center;
}
#logo {
    float: left;
}
#mmm {
    float: right;
    color:aliceblue;
    text-align: center;
    width: 40%;
    padding-top: 24px;
}
#desc {
    height: 361px;
    float: right;
    width: 42%;
    text-align:right
}
input[type=text] {
    border: 2px solid gold;
    border-radius: 4px;
    background-color: rgba(255, 255, 0, 0.5);
    outline: none;
}
input[type=text]:focus {
    border: 4px solid yellowgreen;
    
    background-color: rgba(255, 255, 0, 0.5);
}
#footer {
    color:aliceblue;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
